@import '../../../src/components/PullToRefresh/style.scss';
* {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    width: 100%;
    border: 0;
}

html, body, #html-body, .load-more {
    height: 100%;
}

.content {
    height: 300px;
    background: red;
}
