* {
    margin: 0;
    padding: 0;
}
.image-lazy-load {
    width: 400px;
    height: 300px;
    border: 1px solid;
    overflow: auto;
}
img {
    display: block;
    width: 100%;
    margin: 20px;
}