.tips {
    overflow: auto;
    display: none;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .tips-content {
        overflow: auto;
        position: relative;
        width: auto;
        height: auto;
        max-width: 100%;
        margin: auto;
        background: #fff;
    }

    &.show {
        display: flex;
        flex-direction: row;
    }

    &.animate {
        .tips-content  {
            opacity: 0;
            transition: opacity 1s;
        }

        &.out .tips-content {
            opacity: 0;
        }

        &.in .tips-content {
            opacity: 1;
        }
    }
}